<%= form_with(model: forum_thread, local: true) do |form| %>
  <% if forum_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum_thread.errors.count, "error") %> prohibited this forum_thread from being saved:</h2>

      <ul>
      <% forum_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :forum_thread_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :forum_thread_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
